/* -------------------------------------- */
/* 文字提示 */
.ToopTip{
    position:relative;
   
}
.ToopTip-content span:hover,
.ToopTip-content div:hover,
.ToopTip-content svg:hover{
   color:#333;
}
.ToopTip-title{
    position:absolute;
    background:#333333;
    white-space: nowrap;
    font-size: 10px;
    padding:5px;
    border-radius:10%;
    color:#fff;
    z-index:1;
}
.toolTip-show>.toop{
    display:block;
}
.toolTip-hide>.toop{
    display: none;
}
.ToopTip-arrows-top{
    position: absolute;
    top:-5px;
    left:10%;
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 5px ;
    border-style: solid;
    border-color: #333333 transparent transparent  transparent;
    overflow: hidden;
    
}
.ToopTip-direction-top{
    top:-30px;
    left:-50%;
}
.ToopTip-arrows-left{
    position: absolute;
    top:8px;
    left:-10px;
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 5px ;
    border-style: solid;
    border-color: transparent transparent  transparent #333333;
    overflow: hidden;
}
.ToopTip-direction-left{
    top:0px;
    left:0;
    transform:translate( calc( -100% - 10px ),0);
    -webkit-transform: translate( -webkit-calc( -100% - 10px ),0);
    -moz-transform: translate( -moz-calc( -100% -10px ),0);
}
.ToopTip-arrows-right{
    position: absolute;
    top:8px;
    right:-10px;
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 5px ;
    border-style: solid;
    border-color: transparent #333333 transparent  transparent;
    overflow: hidden;
}
.ToopTip-direction-right{
    top:0;
    right:0;
    transform:translate( calc( 100% + 10px ),0);
    -webkit-transform: translate( -webkit-calc( 100% + 10px ),0);
    -moz-transform: translate( -moz-calc( 100% + 10px ),0);
}
.ToopTip-arrows-bottom{
    position: absolute;
    bottom:-5px;
    left:10%;
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 5px ;
    border-style: solid;
    border-color:  transparent transparent #333333 transparent;
    overflow: hidden;
}
.ToopTip-direction-bottom{
    bottom:-30px;
    left:-50%;
}
/* --------------------------------------------------------------------- */
/* 详细信息展示框 */
.PromptBox{
    position: relative;
}
.PromptBox-box-top{
    position: absolute;
    top:0;
    left:0;
    min-width: 25px;
    transform:translate( 0,calc( -100%  ));
    -webkit-transform: translate( 0,-webkit-calc( -100% ));
    -moz-transform: translate( 0,-moz-calc( -100% ));
    background: rgba(51, 51, 51, 0.6);
}
.PromptBox-box-bottom{
    position: absolute;
    bottom:0;
    left:0;
    min-width: 25px;
    transform:translate( 0,calc( 100%  ));
    -webkit-transform: translate( 0,-webkit-calc( 100% ));
    -moz-transform: translate( 0,-moz-calc( 100% ));
    background: rgba(51, 51, 51, 0.4);
}
/* ------------------------------------------------------------------- */
/*进度滑块  */
.Range{
    padding:10px;
    margin:0 auto;
}
.Range-ver{
    width:4px;
    height:100px;
    border-radius:10%;
    background:#a7a7a7;
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}
.Range-ver>span{
    display: block;
    width:100%;
    background:#ffffff;
}
/* ------------------------------------------------------------------ */
/* 抽屉 */
/* .DrawerBox{
   
} */
.DrawerBox-cont{
    position:fixed;
    width:100%;
    z-index:10;
    background: rgba(51, 51, 51, 0.5);
}
.DrawerBox_top_false{
   animation:DrawerBoxTopOut 1s ease-out forwards;
   -webkit-animation:DrawerBoxTopOut 1s ease-out forwards;
   -moz-animation: DrawerBoxTopOut 1s ease-out forwards;
   -o-animation: DrawerBoxTopOut 1s ease-out forwards;
}
.DrawerBox_bottom_false{
    z-index:-1;
    animation:DrawerBoxBottomOut 1s ease-out forwards;
    -webkit-animation:DrawerBoxBottomOut 1s ease-out forwards;
    -moz-animation: DrawerBoxBottomOut 1s ease-out forwards;
    -o-animation: DrawerBoxBottomOut 1s ease-out forwards;
}
.DrawerBox_left_false{
    animation:DrawerBoxLeftOut 1s ease-out forwards;
    -webkit-animation:DrawerBoxLeftOut 1s ease-out forwards;
    -moz-animation: DrawerBoxLeftOut 1s ease-out forwards;
    -o-animation: DrawerBoxLeftOut 1s ease-out forwards; 
}
.DrawerBox_right_false{
    animation:DrawerBoxRightOut 1s ease-out forwards;
    -webkit-animation:DrawerBoxRightOut 1s ease-out forwards;
    -moz-animation: DrawerBoxRightOut 1s ease-out forwards;
    -o-animation:DrawerBoxRightOut 1s ease-out forwards;  
}
.DrawerBox-con-header{
    position: relative;
    width:100%;
    color:white;
    font-size:1.5vh;
    text-indent:10px;
    line-height:3.5vh;
    border-bottom:0.1vh solid rgba(255, 255, 255, 0.9);
}
.DrawerBox-con-header>span{
    position: absolute;
    top:-5px;
    right:5px;
    font-weight: bolder;
    cursor: pointer;
}
.DrawerBox-animation{
   display: none;
}
.DrawerBox-animation-bottom{
    animation:DrawerBoxBottom 1s ease-out forwards;
    -moz-animation: DrawerBoxBottom 1s ease-out forwards;
    -webkit-animation: DrawerBoxBottom 1s ease-out forwards;
    -o-animation:DrawerBoxBottom 1s ease-out forwards;
}
.DrawerBox-animation-top{
    animation:DrawerBoxTop 1s ease-out forwards;
    -moz-animation: DrawerBoxTop 1s ease-out forwards;
    -webkit-animation: DrawerBoxTop 1s ease-out forwards;
    -o-animation:DrawerBoxTop 1s ease-out forwards;
}
.DrawerBox-animation-left{
    animation:DrawerBoxLeft 1s ease-out forwards;
    -moz-animation: DrawerBoxLeft 1s ease-out forwards;
    -webkit-animation: DrawerBoxLeft 1s ease-out forwards;
    -o-animation:DrawerBoxLeft 1s ease-out forwards;
}
.DrawerBox-animation-right{
    animation:DrawerBoxRight 1s ease-out forwards;
    -moz-animation: DrawerBoxRight 1s ease-out forwards;
    -webkit-animation: DrawerBoxRight 1s ease-out forwards;
    -o-animation:DrawerBoxRight 1s ease-out forwards;
}
@keyframes DrawerBoxTopOut {
    0% {
        opacity: 1;
    }
    100% {
        transform:scaleX(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaley(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 -110%  0;
        -moz-transform-origin:0 -110%  0;
        -o-transform-origin:0 -110%  0;
        transform-origin:0 -110%  0;
        opacity: 0;
    }
} 
@-webkit-keyframes DrawerBoxTopOut {
    0% {
        opacity: 1;
    }
    100% {
        transform:scaleX(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaley(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 -110%  0;
        -moz-transform-origin:0 -110%  0;
        -o-transform-origin:0 -110%  0;
        transform-origin:0 -110%  0;
        opacity: 0;
    }
} 
@-moz-keyframes  DrawerBoxTopOut {
    0% {
        opacity: 1;
    }
    100% {
        transform:scaleX(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaley(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 -110%  0;
        -moz-transform-origin:0 -110%  0;
        -o-transform-origin:0 -110%  0;
        transform-origin:0 -110%  0;
        opacity: 0;
    }
}      
@-o-keyframes DrawerBoxTopOut {
    0% {
        opacity: 1;
    }
    100% {
        transform:scaleX(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaley(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 -110%  0;
        -moz-transform-origin:0 -110%  0;
        -o-transform-origin:0 -110%  0;
        transform-origin:0 -110%  0;
        opacity: 0;
    }
}  
@keyframes DrawerBoxBottomOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform:scaleX(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaley(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 110%  0;
        -moz-transform-origin:0 110%  0;
        -o-transform-origin:0 110%  0;
        transform-origin:0 110%  0;
    }
}
@-webkit-keyframes DrawerBoxBottomOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform:scaleX(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaley(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 110%  0;
        -moz-transform-origin:0 110%  0;
        -o-transform-origin:0 110%  0;
        transform-origin:0 110%  0;
    }
}
@-moz-keyframes DrawerBoxBottomOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform:scaleX(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaley(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 110%  0;
        -moz-transform-origin:0 110%  0;
        -o-transform-origin:0 110%  0;
        transform-origin:0 110%  0;
    }
}
@-o-keyframes DrawerBoxBottomOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform:scaleX(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaley(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 110%  0;
        -moz-transform-origin:0 110%  0;
        -o-transform-origin:0 110%  0;
        transform-origin:0 110%  0;
    }
}
@keyframes DrawerBoxLeftOut{
    0%{
        opacity: 1;
    }
    100%{
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:-110% 50% 0;
        -moz-transform-origin:-110% 50% 0;
        -o-transform-origin:-110% 50% 0;
        transform-origin:-110% 50% 0;
        opacity: 0;
    }
}
@-webkit-keyframes DrawerBoxLeftOut{
    0%{
        opacity: 1;
    }
    100%{
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:-110% 50% 0;
        -moz-transform-origin:-110% 50% 0;
        -o-transform-origin:-110% 50% 0;
        transform-origin:-110% 50% 0;
        opacity: 0;
    }
}
@-moz-keyframes DrawerBoxLeftOut{
    0%{
        opacity: 1;
    }
    100%{
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:-110% 50% 0;
        -moz-transform-origin:-110% 50% 0;
        -o-transform-origin:-110% 50% 0;
        transform-origin:-110% 50% 0;
        opacity: 0;
    }
}
@-o-keyframes DrawerBoxLeftOut{
    0%{
        opacity: 1;
    }
    100%{
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:-110% 50% 0;
        -moz-transform-origin:-110% 50% 0;
        -o-transform-origin:-110% 50% 0;
        transform-origin:-110% 50% 0;
        opacity: 0;
    }
}
@keyframes DrawerBoxRightOut{
    0%{
        opacity: 1;
    }
    100%{
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:110% 50% 0;
        -moz-transform-origin:110% 50% 0;
        -o-transform-origin:110% 50% 0;
        transform-origin:110% 50% 0;
        opacity: 0;
    }
}
@-webkit-keyframes DrawerBoxRightOut{
    0%{
        opacity: 1;
    }
    100%{
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:110% 50% 0;
        -moz-transform-origin:110% 50% 0;
        -o-transform-origin:110% 50% 0;
        transform-origin:110% 50% 0;
        opacity: 0;
    }
}
@-moz-keyframes DrawerBoxRightOut{
    0%{
        opacity: 1;
    }
    100%{
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:110% 50% 0;
        -moz-transform-origin:110% 50% 0;
        -o-transform-origin:110% 50% 0;
        transform-origin:110% 50% 0;
        opacity: 0;
    }
}
@-o-keyframes DrawerBoxRightOut{
    0%{
        opacity: 1;
    }
    100%{
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:110% 50% 0;
        -moz-transform-origin:110% 50% 0;
        -o-transform-origin:110% 50% 0;
        transform-origin:110% 50% 0;
        opacity: 0;
    }
}
@keyframes DrawerBoxRight{
    0%{
        opacity: 0;
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:200% 0  0;
        -moz-transform-origin: 200% 0 0;
        -o-transform-origin: 200% 0 0;
        transform-origin:200% 0 0;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes DrawerBoxRight{
    0%{
        opacity: 0;
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:200% 0  0;
        -moz-transform-origin: 200% 0 0;
        -o-transform-origin: 200% 0 0;
        transform-origin:200% 0 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes DrawerBoxRight{
    0%{
        opacity: 0;
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:200% 0  0;
        -moz-transform-origin: 200% 0 0;
        -o-transform-origin: 200% 0 0;
        transform-origin:200% 0 0;
    }
    100%{
        opacity: 1;
    }
}
@-o-keyframes DrawerBoxRight{
    0%{
        opacity: 0;
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:200% 0  0;
        -moz-transform-origin: 200% 0 0;
        -o-transform-origin: 200% 0 0;
        transform-origin:200% 0 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes DrawerBoxLeft{
    0%{
        opacity: 0;
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:-200% 0  0;
        -moz-transform-origin: -200% 0 0;
        -o-transform-origin: -200% 0 0;
        transform-origin:-200% 0 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes DrawerBoxLeft{
    0%{
        opacity: 0;
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:-200% 0  0;
        -moz-transform-origin: -200% 0 0;
        -o-transform-origin: -200% 0 0;
        transform-origin:-200% 0 0;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes DrawerBoxLeft{
    0%{
        opacity: 0;
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:-200% 0  0;
        -moz-transform-origin: -200% 0 0;
        -o-transform-origin: -200% 0 0;
        transform-origin:-200% 0 0;
    }
    100%{
        opacity: 1;
    }
}
@-o-keyframes DrawerBoxLeft{
    0%{
        opacity: 0;
        transform:scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform-origin:-200% 0  0;
        -moz-transform-origin: -200% 0 0;
        -o-transform-origin: -200% 0 0;
        transform-origin:-200% 0 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes DrawerBoxTop{
    0%{
        opacity: 0;
        transform:scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 -200%  0;
        -moz-transform-origin: 0 -200% 0;
        -o-transform-origin:0 -200%  0;
        transform-origin:0 -200% 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes DrawerBoxTop{
    0%{
        opacity: 0;
        transform:scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 -200%  0;
        -moz-transform-origin: 0 -200% 0;
        -o-transform-origin:0 -200%  0;
        transform-origin:0 -200% 0;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes DrawerBoxTop{
    0%{
        opacity: 0;
        transform:scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 -200%  0;
        -moz-transform-origin: 0 -200% 0;
        -o-transform-origin:0 -200%  0;
        transform-origin:0 -200% 0;
    }
    100%{
        opacity: 1;
    }
}
@-o-keyframes DrawerBoxTop{
    0%{
        opacity: 0;
        transform:scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 -200%  0;
        -moz-transform-origin: 0 -200% 0;
        -o-transform-origin:0 -200%  0;
        transform-origin:0 -200% 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes DrawerBoxBottom{
    0%{
        opacity: 0;
        transform:scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 200%  0;
        -moz-transform-origin:  0 200%  0;
        -o-transform-origin: 0 200%  0;
        transform-origin:0 200% 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes DrawerBoxBottom{
    0%{
        opacity: 0;
        transform:scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 200%  0;
        -moz-transform-origin:  0 200%  0;
        -o-transform-origin: 0 200%  0;
        transform-origin:0 200% 0;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes DrawerBoxBottom{
    0%{
        opacity: 0;
        transform:scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 200%  0;
        -moz-transform-origin:  0 200%  0;
        -o-transform-origin: 0 200%  0;
        transform-origin:0 200% 0;
    }
    100%{
        opacity: 1;
    }
}
@-o-keyframes DrawerBoxBottom{
    0%{
        opacity: 0;
        transform:scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin:0 200%  0;
        -moz-transform-origin:  0 200%  0;
        -o-transform-origin: 0 200%  0;
        transform-origin:0 200% 0;
    }
    100%{
        opacity: 1;
    }
}
/* ------------------------------------------------------------- */
/* 表格 */
.Table{
    width:100%;
    font-size: 1.3vh;
    height:10vh;
    overflow-y:auto;
}
.Table>table{
    width:100%;
    border-collapse:collapse;
    text-indent:10px;
    table-layout:fixed;
    position: relative;
}
.Table>table,
.Table tr,
.Table td{
    border:0;
    padding:0;
    margin:0;
}
.Table tr{
    width:100%;
    height:3vh;
}
.Table-thead>tr{
    background:#666;
    font-size: 1.5vh;
    font-weight: bolder;
    border-bottom:0.01vh solid rgba(255, 255, 255, 0.4);
}
.Table-body td{
    vertical-align: middle;
    min-height:3.5vh;
}
.Table-body:hover{
    background: #99c4df;
}
.Table-buttons{
    text-align: center;
}
.Table-buttons>*{
    vertical-align: middle;
    margin-right:10px;
}
.Table-selected{
    background: #99c4df;
}
.Table-click{
    cursor:pointer;
}
.Table-selected .Table-buttons span:nth-child(1)>svg{
   color: #9c6735;
}
.Table-buttons>span>*{
    pointer-events: none;
}
/*滚动条样式*/
.Table::-webkit-scrollbar {
    width:6px; 
    background: transparent;
    border:none;
}
.Table::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #afd0e7;
}
/*----------------------------------------------*/
/* 按钮组件 */
.Button{
    font-size:1.3vh;
    font-weight: bold;
    border:none;
    margin:0.5vh;
    padding:0.6vh ;
    outline:none;
    cursor:pointer;
    color:#FFF;
    border-radius:10%;
    letter-spacing: 0.2vh;
    background: none;
}
.ButtonType_default{
    color:#068beb;
    border:1.5px solid #068beb;

}
.ButtonType_default:hover{
    color:#fff;
    background: #068beb;
}
.ButtonType_warn{
    color:#df2929c2;
    border:1.5px solid #df2929c2;
}
.ButtonType_warn:hover{
    color:#fff;
    background:#df2929c2;
}
.ButtonType_info{
    color:#9c6735;
    border:1.5px solid #9c6735;
}
.ButtonType_info:hover{
    color:#fff;
    background: #9c6735;
}
/* ----------------------------------------- */
/* 标签页组件 */
.Tab{
    position: relative;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.Tab_header{
    display: flex;
    width:100%;
    height:5vh;
    margin-bottom:1.5vh;
    border-bottom:0.2vh solid #c2b3b373;
}
.Tab_header>ul{
    flex-grow: 1;
    height:100%; 
    color:#666;
    list-style: none; 
}
.Tab_header>ul>li{
    height: 100%;
    display: inline-block;
    padding:0 1.5vh;
    font-size:1.8vh;
    line-height:5vh;
    font-weight:500;
    cursor: pointer;
}
.Tab_header>ul>li>span{
    margin-left:1vh;
    margin-right: -1vh;
}
.activeTab{
    color: #068beb;
    border-bottom:0.2vh solid #068beb;
    
}
.Tab_buttons{
    font-size: 2vh;
    font-weight:500;
}
.Tab_buttons>ul{
    width:100%;
    height:3vh;
    list-style: none;
    margin-right: 2vh;
    margin-top:1vh;
}
.Tab_buttons>ul>li{
    float: left;
    cursor: pointer;
    
}

.Tab_buttons>ul>li>*:hover{
    color: #068beb;
}
.Tab_content{
    height:0%;
    flex-grow: 1;
    width:100%;
    overflow: hidden;
}

.Tab_content>ul{
    position: relative;
    width: auto;
    height: 100%;
    list-style:none;
    display: flex;
    transition: left .8s;
}
.Tab_content>ul>li{
    flex:1;
    height:100%;
    box-sizing: border-box;
    padding:0 2vh;
    overflow:auto;
    border:1px solid transparent;
}
/*滚动条样式*/
.Tab_content>ul>li::-webkit-scrollbar {
    width:6px; 
    height:6px;
    background: transparent;
    border:none;
}
.Tab_content>ul>li::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #afd0e7;
}
.Tab_content>ul>li::-webkit-scrollbar-corner{
    background:transparent;
}
.Tab_content>ul>li>*{
    width:100%;
}
/* ------------------------------------------------------- */
/* 树形菜单组件 */
.Tree{
    width:100%;
    height:100%;
    list-style: none;
    font-size: 1.8vh;
    line-height:3vh;
}
.Tree ul li{
    box-sizing: border-box;
    padding-left:1.5vh;
}
.Tree_Ul{
    position: relative;
    width:100%;
    height:100%;
    list-style: none;
}
.Tree_Ul::before{
    position:absolute;
    content:"";
    top:0;
    left:1.5vh;
    width:1.5vh;
    height: 100%;
    box-sizing: border-box;
    border-left:1px solid #c4c0c7;
    border-bottom:1px solid #c4c0c7;
}
.Tree_click_cont{
    cursor: pointer;
    border-bottom:1px solid #c4c0c7;
}
.Tree_click_cont:hover{
    background:#99c4df;
}
.activeTree{
    color:#ffffff;
    background:#068beb;
}
.tree_icon{
    display: inline-block;
    width:2vh;
    height: 2vh;
    font-size:1.6vh;
    text-align: center;
}
.tree_icon>svg{
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
}
.tree_icon_active>svg{
    transform:rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}














/* ---------------------------------------- */
/* 弹框组件样式 */
.ModalBox{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:20;
    animation: modalAn 1s;
    border:1px solid red;
}
.ModalBox_shadow-true{
    background:rgba(0, 0, 0, 0.2);
}
.ModalBox_shadow-false{
     background: transparent;
}
@keyframes modalAn{

}
